@model IEnumerable<Punet>

<div class="container mt-5 text-center position-relative">
   
    <div class="row">
        <div class="col-12">
            <h2 class="display-4 fw-bold">Mirësevini në JobApp</h2>
            <img src="/images/Jobb.jpg" width=" 40%" class="rounded" />
            <p class="lead">
                Gjeni punën tuaj të ëndrrave vetëm me një klikim.
            </p>
            <a style="width: 50%;"class=" btn btn-outline-dark btn-sm " asp-area="Customer" asp-controller="KerkoPune" asp-action="Index">Fillo tani!</a>
            </div>

           
        </div>
    </div>

    