@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="position: absolute; bottom: 0; right: 0; padding: 80px;">
    <h1>@ViewData["Title"]</h1>
    <p style="margin: 0;">Të gjithë të drejtat janë të UBT Students</p>
</div>
