@model Puna

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Krijo nje vend te lire pune</h2>
            <hr/>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Emri_Pozites" class="p-0"></label>
            <input asp-for="Emri_Pozites" class="form-control"/>
            <span asp-validation-for="Emri_Pozites" class="text-danger"></span>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Pershkrimi" class="p-0"></label>
            <input asp-for="Pershkrimi" class="form-control" />
            <span asp-validation-for="Pershkrimi" class="text-danger"></span>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Kerkesat" class="p-0"></label>
            <input asp-for="Kerkesat" class="form-control" />
            <span asp-validation-for="Kerkesat" class="text-danger"></span>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Lokacioni" class="p-0"></label>
            <input asp-for="Lokacioni" class="form-control" />
            <span asp-validation-for="Lokacioni" class="text-danger"></span>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Lokacioni" class="p-0"></label>
            <input asp-for="Lokacioni" class="form-control" />
            <span asp-validation-for="Lokacioni" class="text-danger"></span>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="ImageUrl" class="p-0"></label>
            <input type="file" class="form-control border-0 shadow" />
            
        </div>
       @*  <div class="mb-3 p-1">
            <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select border-0 shadow">
                <option disabled selected>--Zgjedh Kategorine</option>
            </select>
            <label asp-for="CategoryId" class="p-0"></label>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div> *@
        
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control" >Krijo</button>
            </div>
            <div class="col-6">
                <a asp-controller="Puna" asp-action="Index" class="btn btn-outline-secondary form-control" >Kthehu</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}