@model Puna

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Fshije Pune </h2>
            <hr />
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Emri_Pozites"  class="p-0"></label>
            <input asp-for="Emri_Pozites" disabled class="form-control" />
            
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Pershkrimi" class="p-0"></label>
            <input asp-for="Pershkrimi" disabled class="form-control" />
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Kerkesat" class="p-0"></label>
            <input asp-for="Kerkesat" disabled class="form-control" />
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Lokacioni" class="p-0"></label>
            <input asp-for="Lokacioni" disabled class="form-control" />
        </div>
        
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6">
                <a asp-controller="Puna" asp-action="Index" class="btn btn-outline-secondary form-control">Kthehu</a>
            </div>
        </div>
    </div>
</form>
